#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# go compiled files
CICD/modules/lambda/cmd/main
CICD/modules/lambda/cmd/main.zip

# IDE
*.idea*